version: '3'

services:
  postgres:
    container_name: fastorder-postgres
    image: postgres
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./etc/infrastructure/psql/init:/docker-entrypoint-initdb.d
